.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.imgclass {
  max-width: 100%;
  height: 30%;
  object-fit: cover;
  padding: 50px 0;
}
.flex h1 {
  font-size: 2rem;
}
.flex p {
  width: 60%;
}
.recipe-btn {
  padding: 14px 8px;
  margin-top: 20px;
  background-color: darkolivegreen;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 7px;
  border: none;
}
